
<header>
    <div class="flexContainer header">
        <div class="logo">LOGO</div>
        <nav class="flexContainer">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
        </nav>
    </div>
    
</header>